@use "../../media.scss" as *;
.products {
  padding: 100px 0;

  @include minlaptop {
    padding: 80px 0;
  }
}

.products__title {
  font-weight: 400;
  font-size: 54px;
  line-height: 1.1;
  margin-top: 0;
  margin-bottom: 32px;
  color: #64099b;

  @include minlaptop {
    font-size: 36px;
    margin-bottom: 24px;
  }
}
.pdocts__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;

  @include minlaptop {
    grid-template-columns: repeat(auto-fill, minmax(217px, 1fr));
    gap: 16px;
  }
}
