@use "../../media.scss" as *;

.header {
  padding: 0 24px;
  width: 100%;
  position: absolute;
  top: 24px;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;

  @include smlaptop {
    padding: 0;
    top: 20px;
  }
}

.header__container {
  max-width: 1352px;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  background-color: rgba(108, 185, 171, 0.7);
  padding: 12px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include smlaptop {
    padding: 12px 22px;
  }
}

.header__logo {
  font-size: 0;

  @include minlaptop {
    width: 78px;
  }
}

.header__menu {
  display: flex;
  align-items: center;
  gap: 50px;
  @include minlaptop {
    gap: 24px;
  }
}

.header__menu-link {
  font-size: 20px;
  font-weight: 400;

  @include minlaptop {
    font-size: 16px;
  }
}

.header__menu-link--active {
  color: rgb(100, 9, 155);
}

.header__mobail-menu {
  display: flex;
  align-items: center;
  gap: 16px;
}

.header__burger {
  width: 28px;
  height: 28px;
  cursor: pointer;
  background: transperent;
}

.header__burger-line {
  display: block;
  width: 20px;
  height: 1px;
  background: #d9d9d9;
}

.header__cart-link {
  width: 28px;
  height: 28px;
  color: rgb(100, 9, 155);
  font-size: 12px;
  background-image: url("../img/cart.svg");
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 10px 4px 3px;
}
