@use "../../media.scss" as *;
.order {
	padding: 50px 0 100px;

	@include minlaptop {
		padding: 30px 0 80px;
	}

	@include mobail {
		padding: 30px 0 60px;
	}
	&__title {
		font-weight: 400;
		font-size: 54px;
		line-height: 1.1;
		color: #64099b;
		margin-top: 0;
		margin-bottom: 32px;

		@include minlaptop {
			font-size: 36px;
		}
	}
	&__form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 20px;
		max-width: 640px;

		@include smlaptop {
			max-width: 620px;
		}

		@include minlaptop {
			gap: 16px;
			max-width: none;
		}

		@include mobail {
			display: grid;
			grid-template-columns: 1fr;
			gap: 20px;
			max-width: 640px;
		}
	}
	&__input {
		padding: 16px;
		background-color: #f2f9f7;
		font-size: 16px;
		border: none;
		&::placeholder {
			color: #b8b8b8;
		}

		@include minlaptop {
			padding: 12px 16px;
			border-radius: 4px;
		}

		@include mobail {
			border: none;
			padding: 17px 16px;
		}
	}

	&__input_address {
		grid-column: 1 / -1;
	}
	&__payment {
		margin: 0;
		padding: 0;
		padding: 12px 0 0;
		border: none;

		@include minlaptop {
			padding-top: 8px;
		}

		@include mobail {
			padding-top: 12px;
		}
	}
	&__payment-title {
		display: block;
		margin: 0;
		font-weight: 400;
		font-size: 20px;
		margin-bottom: 12px;

		@include mobail {
			margin-top: 0;
			margin-bottom: 12px;
		}
	}
	&__payment-label {
		display: block;
		font-weight: 400;
		font-size: 16px;
		color: #1d1c1d;
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}

		@include mobail {
			display: block;
			font-size: 16px;
			margin-bottom: 8px;
		}
	}
	&__radio {
		margin-right: 8px;
	}
}
