@use "../../media.scss" as *;
.cart {
	padding: 215px 0 50px;

	@include smlaptop {
		padding: 170px 0 50px;
	}

	@include minlaptop {
		padding: 139px 0 30px;
	}

	@include mobail {
		padding: 100px 0 30px;
	}
	&__container {
		display: grid;
		align-items: start;
		grid-template-columns: 2fr 1fr;
		gap: 32px 20px;

		@include smlaptop {
			grid-template-columns: 1fr 300px;
		}

		@include minlaptop {
			gap: 0;
			grid-template-columns: 1fr;
		}

		@include mobail {
			display: grid;
			align-items: start;
			grid-template-columns: 1fr;
		}
	}

	&__title {
		font-weight: 400;
		font-size: 54px;
		line-height: 1.1;
		color: #64099b;
		margin: 0;
		grid-column: 1/ -1;

		@include minlaptop {
			order: 2;
			margin-bottom: 24px;
			font-size: 36px;
		}

		@include mobail {
			font-size: 36px;
		}
	}
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
		gap: 20px;

		@include smlaptop {
			grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
		}

		@include minlaptop {
			order: 3;
			grid-template-columns: repeat(auto-fill, minmax(159px, 1fr));
		}

		@include mobail {
			grid-column: 1 / -1;
			grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
			gap: 8px;
		}
	}
	&__summary {
		display: grid;
		grid-template-areas: "title button" "total button";
		justify-content: space-between;
		align-items: center;
		gap: 8px;
		padding: 24px;
		background-color: #f2f9f7;
		border-radius: 6px;
		color: #1d1d1d;

		@include minlaptop {
			order: 1;
			margin-bottom: 40px;
			grid-template-areas: "title total button";
			grid-template-columns: min-content 1fr min-content;
			gap: 6px;
		}

		@include mobail {
			grid-column: 1 / -1;
			margin-bottom: 30px;
			justify-content: space-between;
			grid-template-areas:
				"title button"
				"total button";
		}
	}
	&__summary-title {
		margin: 0;
		grid-area: title;
		font-weight: 400;
		font-size: 20px;
		color: #1d1d1d;

		@include minlaptop {
			font-size: 16px;
		}
	}
	&__summary-total {
		margin: 0;
		grid-area: total;
		font-size: 20px;
		color: #1d1c1d;

		@include minlaptop {
			font-size: 16px;
		}
	}
	&__order-btn {
		grid-area: button;
		border: 1px solid #64099b;
		border-radius: 4px;
		padding: 16px 24px;
		font-size: 20px;
		color: #64099b;
		background-color: transparent;
		cursor: pointer;

		@include minlaptop {
			padding: 12px 18px;
			font-size: 16px;
		}

		@include mobail {
			justify-self: end;
		}
	}
}
